@model PNTProyecto.Models.Publicacion

@{
    ViewData["Title"] = "Eliminar Publicación";
}

<h2>Eliminar Publicación</h2>

<h3>¿Está seguro que desea eliminar esta publicación?</h3>
<div>
    <h4>Publicacion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nroPublicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nroPublicacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Imagen" alt="@Model.NombreMascota" style="max-width: 200px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="nroPublicacion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
