@model PNTProyecto.Models.Publicacion

@{
    ViewData["Title"] = "Detalles de la Publicación";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Detalles de la Publicación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Número de Publicación:</dt>
        <dd class="col-sm-10">@Model.nroPublicacion</dd>

        <dt class="col-sm-2">Nombre de la Mascota:</dt>
        <dd class="col-sm-10">@Model.nombreMascota</dd>

        <dt class="col-sm-2">Descripción:</dt>
        <dd class="col-sm-10">@Model.descripcion</dd>

        <dt class="col-sm-2">Imagen:</dt>
        <dd class="col-sm-10">
            <img src="@Model.imagen" alt="Imagen de la mascota" class="img-fluid" />
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>
