@model PNTProyecto.Models.Publicacion

@{
    ViewData["Title"] = "Detalles de Publicación";
}

<h2>Detalles de Publicación</h2>

<div>
    <h4>Publicación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class="col-sm-2">
            Imagen
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Imagen))
            {
            <img src="@Model.Imagen" alt="@Model.NombreMascota" style="max-width: 200px;" />
            }
            else
            {
            <p>No hay imagen disponible.</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoMascota)
        </dd>
    </dl>
</div>

<div>
    <button type="button" onclick="mostrarContacto()" class="btn btn-primary">Me Gusta</button>
    <script>
    function mostrarContacto() {
        var contacto = '@Model.Contacto'; // es el número de contacto.
        alert('El número de telefono del usuario es: ' + contacto);
    }
    </script>
    <button type="button" onclick="volverPublicaciones()" class="btn btn-primary">No me gusta</button>
    <script>
        function volverPublicaciones() {
            window.location.href = '../'; // regresa a la pagina de publicaciones
        }
    </script>
</div>

<div>
    
    <a asp-action="Edit" asp-route-id="@Model.nroPublicacion">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>