@model IEnumerable<PNTProyecto.Models.Publicacion>

@{
    ViewData["Title"] = "Publicaciones";
}
<div class="filter-bar-container">
    <div class="filter-bar">
        <select id="FiltroDeBusqueda" onchange="filtrarPublicaciones()">
            <option value="">Todas las publicaciones</option>
            <option value="perro">Perro</option>
            <option value="gato">Gato</option>
            <option value="ave">Ave</option>
            <option value="pez">Pez</option>
            <option value="roedor">Roedor</option>
        </select>
    </div>
</div>

<div class="publicaciones-grid">
    @foreach (var item in Model)
    {
        <div class="publicacion-card tipo-@item.TipoMascota.ToLower()">
            <button type="button" class="publicacion-button" onclick="redirectToDetails('@item.nroPublicacion')">
                <h2>@item.NombreMascota</h2>
                <img src="@item.Imagen" alt="@item.NombreMascota" />
                <p class="descripcion-publicacion">@item.Descripcion</p>
                <p>UsuarioCreadorId: @item.UsuarioId</p>
                <td>
                    <i class="fas fa-heart"></i> @item.CantidadUsuariosInteresados
                </td>
                <p>
                    @if (item.TipoMascota.ToLower() == "gato")
                    {
                        <i class="fas fa-cat"></i>
                    }
                    else if (item.TipoMascota.ToLower() == "perro")
                    {
                        <i class="fas fa-dog"></i>
                    }
                    else if (item.TipoMascota.ToLower() == "ave")
                    {
                        <i class="fas fa-dove"></i>
                    }
                    else if (item.TipoMascota.ToLower() == "roedor")
                    {
                        <i class="fas fa-otter"></i>
                    }
                    else
                    {
                        <i class="fas fa-fish"></i> 
                    }
                </p>
            </button>
        </div>
    }
</div>

@section Scripts {
    <script>
        function redirectToDetails(nroPublicacion) {
            window.location.href = '/Publicaciones/Details/' + nroPublicacion; // te redirige al detail de x publicacion.
        }

        function filtrarPublicaciones() {
            var filtro = document.getElementById('FiltroDeBusqueda').value.toLowerCase(); // Obtiene la opcion del filtro seleccionada, ej "Perro"
            var publicaciones = document.querySelectorAll('.publicacion-card'); // selecciona todas las publicaciones

            publicaciones.forEach(function (pub) { // recorre toda la lista
                var tipoMascota = pub.classList[1];

                if (filtro === '' || tipoMascota === 'tipo-' + filtro) { // Si el filtro esta vacio o coincide con el tipo de la publicacion.
                    pub.style.display = 'flex'; // Lo muestra (un pequeño cambio aca es que ahora hay un flex en ves de un block, encontre un bug que cuando se usa esta funcion deformaba las publicaciones cuando volvias a todas.)
                } else {
                    pub.style.display = 'none'; // Oculta la publicación si no coincide con el filtro
                }
            });
        }
    </script>
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #1a1a1a;
        color: #eee;
    }

    .filter-bar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .filter-bar {
        margin-right: 10px;
    }

        .filter-bar select {
            padding: 8px;
            font-size: 16px;
            background-color: #444;
            color: #eee;
            border: none;
            border-radius: 4px;
        }

    .publicaciones-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 16px;
        justify-content: center;
    }

    .publicacion-card {
        background-color: #333;
        padding: 16px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s;
        width: 300px; /* Ancho fijo para todas las tarjetas */
        height: 450px; /* Altura fija */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .publicacion-card:hover {
            transform: scale(1.03);
        }

        .publicacion-card h2 {
            color: #4CAF50;
            margin-bottom: 10px;
        }

        .publicacion-card img {
            max-width: 100%;
            height: 250px; /*altura fija de las imagenes */
            object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
            border-radius: 8px;
        }
        /*Color de la descripcion.*/
        .publicacion-card p {
            color: #000;
            margin-top: 10px;
        }

    .descripcion-publicacion {
        font-size: 25px; /* Tamaño de la descripcion mas grande.*/
    }
</style>
